
.card-title{
    position: absolute;
    font-size: 18px;
    float: left;
    top: 20%;
    font-weight: bold;
    color: #ffffff;
  }
  
  .card-subtitle{
    position: absolute;
    font-size: 16px;
    float: left;
    top: 60%;
    font-weight: bold;
    color: #ffffff;
  }