<ion-content>
  <ion-card *ngFor="let order of localOrders">
    <ion-item
      color="danger"
      (click)="viewOrder(order.orderObject)">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/003-tickets.png">
      </ion-thumbnail>
      <div class="card-title">{{order.filmName}} | ({{order.ticket}})</div>
      <div class="card-subtitle">{{order.schedule}}</div>
    </ion-item>
  </ion-card>
</ion-content>
