<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tickets">
      <ion-icon name="list"></ion-icon>
      <ion-label>My Tickets</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
