
<ion-content>

  <ion-grid>
    <!-- Banner -->
    <ion-row>
      <ion-col size="10" offset="1" class="banner">
        <img src="../../../assets/images\029-cinema.png" class="banner__image">
        <ion-text color="primary">
          <span class="banner__title">CinemApp</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Login Fields -->
    <form 
    (ngSubmit)="login(f)" 
     #f="ngForm">
      <ion-row>
        <ion-col class="fields" size="12">
          <ion-item class="fields__input">
            <ion-label color="primary" position="stacked">Correo Electronico</ion-label>
            <ion-input 
            type="email" 
            inputmode="text"
            name="email"
            required
            email 
            [(ngModel)]="user.email"
            placeholder="someone@example.com">
              &nbsp;&nbsp;
            </ion-input>
          </ion-item>
          <ion-item class="fields__input" size="12">
            <ion-label color="primary" position="stacked">Contraseña</ion-label>
            <ion-input 
            type="password" 
            inputmode="text" 
            name="password"
            required
            minlength="6"
            [(ngModel)]="user.password"
            placeholder="***************">
              &nbsp;&nbsp;
            </ion-input>
          </ion-item>
        </ion-col>
  
        <ion-col size="12">
          <ion-button color="primary" fill="clear" expand="block">
            <span>¿Olvidaste tu contraseña?</span>
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button 
          color="danger"  
          expand="block"
          type="submit"
          [routerLink]="['/tabs/home']"
          routerDirection="forward">
          
            <span>Iniciar Sesion</span>
          </ion-button>
  
        </ion-col>
      </ion-row>



    </form>
   
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button 
        color="primary" 
        fill="clear" 
        expand="block"
        type="submit"
        [routerLink]="['/signup']"
        routerDirection="forward">
        <span>No tienes cuenta, registrate</span>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>
