.banner {
    padding: 70px;
    text-align: center;
    .banner__image {
        padding: 15px;
    }
    .banner__title {
        display: block;
        text-align: center;
        font-size: 2.2em;
        font-weight: 500;
        white-space: nowrap;
    }
}

ion-footer {
    background-color: white;
}

$colors: (
    redColor: #b10d0d,
);
