<ion-content>
  <ion-card class="card-background">
    <img src="../../../assets/images/cinemaroom.jpg" alt="Cinema Room">
    <div class="card-title">
      CinemApp
    </div>
    <div class="card-subtitle">
      Agenda tus entradas en cualquier momento.
    </div>
  </ion-card>
  <ion-card class="snack-card-title">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/008-popcorn.png" alt="">
      </ion-thumbnail>
      <ion-title class="snack-card-title">Agrega un bocao</ion-title>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card class="food-card">
      <img src="../../../assets/images/drinks.jpg" alt="">
      <div class="add-button" (click)="showFood('beverages')" >+</div>
      <div class="snacks-card">
        Bebidas
      </div>
    </ion-card>
    <ion-card class="food-card">
      <img src="../../../assets/images/popcorn.jpg" alt="">
      <div class="add-button" (click)="showFood('snacks')">+</div>
      <div class="snacks-card">
        Picaderas
      </div>
    </ion-card>
  </ion-card>

  <ion-card  *ngFor = "let cinema of cinemaListings" class="b-red">
    <div  *ngFor = "let film of films"  (click)="selectCinemaListings(cinema)">
      <ion-item color="redColor" *ngIf = "cinema.filmId === film.id" >
        <ion-thumbnail slot="start">
          <img src="../../../assets/images/003-tickets.png">
        </ion-thumbnail>
        <div class="movie-title">{{film.name}}</div>
        <div class="movie-subtitle">{{cinema.start}} - {{cinema.end}}</div>
      </ion-item>
    </div>
  </ion-card>
</ion-content>
