.card-background {
    position: relative;
    text-align: left;
    height: 250px;
}

img {
    filter: brightness(80%);
}

.card-title {
    position: absolute;
    top: 60%;
    font-size: 35px;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    padding: 5%;
}

.card-subtitle {
    position: absolute;
    top: 80%;
    font-size: 15px;
    width: 100%;
    color: #ffffff;
    padding: 5%;
    font-weight: bold;
}

.snack-card-title {
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #8b8888;
    &:hover {
        font-size: 20px;
        font-weight: bold;
        color: #b10d0d;
    }
}

.food-card {
    width: 46%;
    margin: 2%;
    float: left;
    height: 270px;
}

.add-button {
    width: 100%;
    position: absolute;
    top: 55%;
    color: #ffffff;
    background: #b10d0d;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-left: 45%;
}

.snacks-card {
    width: 100%;
    position: absolute;
    top: 85%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.movie-title {
    position: absolute;
    font-size: 18px;
    float: left;
    top: 20%;
    font-weight: bold;
    color: #ffffff;
}

.movie-subtitle {
    position: absolute;
    font-size: 16px;
    float: left;
    top: 60%;
    font-weight: bold;
    color: #ffffff;
}

.b-red {
    background: #b10d0d !important;
}

$colors: (
    redColor: #b10d0d,
);
