.snack-card-title {
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #8b8888;
}

.text {
    color: #969696;
    font-size: 20px;
}

.danger {
    background-color: rgb(131, 0, 0);
}

.btn {
    float: left;
    font-size: 30px;
    background-color: rgb(151, 8, 8);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

.back {
    margin-right: 20px;
    margin-right: 15px;
    color: #8b8888;
    text-align: right;
}

.dlt {
    float: left;
    font-size: 30px;
    background-color: rgb(151, 8, 8);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    height: 70px;
}

.dlticon {
    display: inline-flex;
    position: relative;
    top: 30%;
    float: center;
}

.card-title {
    position: absolute;
    font-size: 18px;
    float: left;
    top: 5%;
    font-weight: bold;
    color: #ffffff;
}

.card-subtitle {
    position: absolute;
    font-size: 16px;
    float: left;
    top: 60%;
    font-weight: bold;
    color: #ffffff;
}

.tickets-selected{
    border-radius: 10px;
    margin-top: -20px;
  }

  .img-tickets-selected {
      
  }