<br>
<div class="back" (click)="closeModal()">
  Cerrar
</div>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../../assets/images/008-popcorn.png">
          </ion-thumbnail>
          <ion-title class="snack-card-title">Agrega un bocao</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-align-self-start">
        <ion-item>
          <ion-select class="text" [(ngModel)]="foodSelected" placeholder="Selecione tu Snack">
            <ng-container *ngFor="let f of foodShow">

              <ion-select-option [value]="f.id">{{f.description}}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <hr class="danger">
      </ion-col>
      <ion-col size="3">
        <ion-input type="number" [(ngModel)]="quantity" class="text" value="0"></ion-input>
        <hr class="danger">
      </ion-col>
      <ion-col>
        <ion-col size="3">
          <div class="btn" (click)="addFood()">
            +
          </div>
        </ion-col>
      </ion-col>
    </ion-row>
    <br>
    <ion-row *ngFor="let fs of foodStorage">
      <ion-col size="9">
        <ion-item color="danger" class="tickets-selected">
          <ion-thumbnail slot="start">
            <img class="img-tickets-selected" src="../../../assets/images/003-tickets.png">
          </ion-thumbnail>
          <div class="card-title">
            <div *ngFor="let f of food">
              <p *ngIf="fs.foodId === f.id">{{f.description}} </p>
            </div>
          </div>
          <div class="card-subtitle">{{fs.price | currency}} DOP. | {{fs.quantity}} Und.</div>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <div class="dlt">
          <ion-icon name="trash-outline" class="dlticon" (click)="deleteFood(fs)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col size="12">
        <div class="btn" (click)="processOrder()">Confirmar Orden</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
