<ion-header>
  <ion-toolbar>
    <ion-icon (click)="closeOrder()" class="back" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
  
  <ion-content  >
    <div *ngFor = "let cl of cinemaListings">
      <div *ngIf = "cl.id === movieSelected">
        <ion-grid >
        <div *ngFor = "let film of films">
          <ion-card class="card-background" *ngIf = "cl.filmId === film.id">
            <img src="{{film.image}}">
            <div class="card-title">{{film.name}}</div>
            <div class="card-subtitle">{{cl.start}} - {{cl.end}}</div>
          </ion-card>
        </div>
          <br> 
          <ion-row >
            <ion-col size="12" class="ion-align-self-start">
            <ion-item class="danger  ">
              <ion-label class="texto" >No. de tickets</ion-label>
              <ion-select class="texto" [disabled]="state != 1"  [(ngModel)]="tickets">
                <ion-select-option *ngFor = "let ticket of totalTickets" [value]="ticket">{{ticket}}</ion-select-option>
              </ion-select>
            </ion-item>
            <hr class="danger">
            </ion-col>
          </ion-row>
          <br>
        <ion-row>
          <ion-col size="12" class="ion-align-self-start">
            <ion-label class="precio">Detalles de la orden:</ion-label>    
          </ion-col>
        </ion-row>
        <br>
        <div *ngFor = "let film of films">
          <ion-row *ngIf = "cl.filmId === film.id">
            <ion-col size="9" class="ion-align-self-start">
              <ion-label class="texto">Tickets para {{film.name}}</ion-label>    
            </ion-col>
            <ion-col size="3" class="ion-align-self-start">
              <ion-label class="precio">{{cl.price * tickets | currency}}</ion-label>    
            </ion-col>
          </ion-row>
        </div>
        <div *ngFor = "let f of food">
          <ion-row *ngFor = "let fs of foodStorage">
            <ion-col size="9" *ngIf = "f.id === fs.foodId" class="ion-align-self-start">
              <ion-label class="texto">{{f.description}} ({{fs.quantity}} Und.)</ion-label>    
            </ion-col>
            <ion-col size="3" *ngIf = "f.id === fs.foodId"  class="ion-align-self-start">
              <ion-label class="precio">{{f.price | currency}}</ion-label>    
            </ion-col>
          </ion-row>
        </div>
        <br>
          <ion-row [ngClass] = "{'metodoPago':!isPaidMethod}">
            <ion-col size="12" class="ion-align-self-start">
            <ion-item class="danger  ">
              <ion-label class="texto">Metodo de pago</ion-label>
              <ion-select [(ngModel)] = "paidMethod" class="texto">
                <ion-select-option value="efectivo">Efectivo</ion-select-option>
                <ion-select-option value="tarjeta">Tarjeta</ion-select-option>
              </ion-select>
            </ion-item>
            <hr class="danger">
            </ion-col>
          </ion-row>
          <br>
          <ion-row >
            <ion-col size="12" class="ion-align-self-start">
              <div class="precioTotal">{{(cl.price * tickets) + amountTotalFood() | currency}} DOP.</div>    
            </ion-col>   
          </ion-row>
          
          <br><br>
          <ion-row>
            <ion-col size="12">
                <div class="btn" (click) = "processOrder(cl)">
                  {{messageButton}}          
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>

